
.title	{
	color:          		white;
	font-size:          		70px; 
	font-family:			'Trebuchet MS', sans-serif;
}

.title1	{
	color:				white;
	font-size:			30px;
	font-family:			'Trebuchet MS', sans-serif;
}

.title2	{
	color:				white;
	font-size:			25px;
	font-family:			'Trebuchet MS', sans-serif;
}

.tekst	{
	color:				white;
	font-family:			'Trebuchet MS', sans-serif;
}

a:link	{
	color:				white;
	text-decoration:		none;
	font-family:			'Trebuchet MS', sans-serif;
}

a:visited	{
	color:				white;
	text-decoration:		none;
}

a:hover	{
	color:				white;
	text-decoration:		none;
}

a:active{
	color:				white;
	text-decoration:		none;
}

body	{
	margin:				0;
	padding:			100px;
	background-color:		rgb(25, 25, 25);
}


