
.title  {
    color:          	black;
    font-size:          200%; 
    }



body {
    margin:             0;
    padding:            0;
    background-color:   rgb(110, 110, 110);
    color:              black;
}


