
.title  {
    color:          	black;
    font-size:          200%; 
    }



body {
    margin:             0;
    padding:            0;
    background-color:   rgb(110, 110, 110);
    color:              black;
}


/* voorbeeld media query voor mobiel */
@media screen and (max-width: 550px) {
    body {
        background-color: #375e80;
    }
}

